<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4SGUi3GVjzIqeVjWn1JZwjw21l5b3-bE</string>
	<key>GCM_SENDER_ID</key>
	<string>43302187180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-c7409</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-c7409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43302187180:ios:fed6f378a9f99682c2ef09</string>
</dict>
</plist>